/* PROJECTS */

.projects-wrap {
	padding: 0;
}

.projects-background {
	background-position: center center;
	background-repeat: no-repeat;
}

.projects-heading {
	padding: 75px 0;
}

.projects-title {
	margin: 0;
	float: none;
}

.projects-title-text.white {
	font-size: 34px;
	line-height: 42px;
	color: #ffffff;
	margin-top: 35px;
}

.projects-middle {
	padding: 40px 0 35px 0;
}

.projects-middle svg.grid-svg {
	width: 200px !important;
	margin: 35px 0 0 -55px;
}

.projects-middle .grid-design.title {
	display: block;
	font-weight: 400;
	font-size: 21px;
	line-height: 28px;
}

.projects-middle p.grid-design.date {
	margin: 35px 0 0 0;
}


.projects-middle .projects-small-title {
	font-size: 14px;
	line-height: 18px;
	color: #0033A1;
	padding-bottom: 15px;
	display: inline-block;
}

.projects-middle .projects-small-title.absolute {
	position: absolute;
	top: 5px;
	margin-left: 12px;
	padding-left: 35px;
}

.projects-post-area {
	margin: 30px 0;
}

.projects-post-area.col {
	margin-bottom: 0;
}

.projects-post-area section {
	margin: 35px 0;
}

.projects-links {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 35px 0;
	position: relative;
	margin-bottom: 0 !important;
}

.projects-links a {
	color: #ffffff !important;
}

.projects-links a i {
	font-size: 5rem !important;
	border: 5px solid #fff;
	padding: 70px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	width: 100px;
	height: 100px
}

.projects-icons {
	margin: 0 15px;
}

.projects-links p {
	font-weight: 700;
	font-size: 14px;
	line-height: 18px;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	color: #FFFFFF;
	margin-top: 15px;
	max-width: 200px;
}

.projects-link-item {
	flex-direction: row;
	display: flex;
	justify-content: center;
	align-items: center;
}

.projects-link-wrap {
	margin: 0 15px;
}

.projects-link-wrap p {
	color: #ffffff;
	position: relative;
	font-size: 1rem;
	line-height: 0;
	margin-top: 0;
}

.projects-title img {
	max-height: 250px;
	max-width: 500px;
}

.projects-description-title {
	font-size: 34px !important;
	line-height: 40px !important;
	margin-bottom: 15px;
}

.row.no-padding {
	padding-bottom: 0;
}

.ui-tabs-nav {
	text-align: center;
	margin-bottom: 70px !important;
}

.tabbed ul li {
	display: inline-block;
	float: none;
}

.tabbed ul li a {
	padding: 20px 40px;
	font-size: 19px;
	/* font-family: Bitter; */
	font-weight: 700;
	color: #000000;
	background-color: #d0cfcf;
	border: 1px solid #ffffff !important;
	color: #ffffff !important;
}

.tabbed ul li a:hover {}

.tabbed ul li:first-child a {
	border-radius: 10px 0px 0px 10px;
}

.tabbed ul li:last-child a {
	border-radius: 0px 10px 10px 0px;
}

.grid-design.image-wrapper {
	margin: 0 auto;
	text-align: center;
	height: 100px;
	margin-bottom: 15px;
}

.grid-design.image-wrapper img {
	max-height: 100px;
	margin-bottom: 0;
}

.grid-design .projects {
	box-shadow: 0px 0px 15px rgb(0 0 0 / 15%);
	border-radius: 10px;
	padding: 30px;
	margin: 15px;
}

.grid-design .projects p {
	padding: 0 0 10px 0;
	font-size: 18px;
	line-height: 28px;
	font-weight: 600;
}

.grid-design.projects-btn:after {
	content: " >>";
}

.grid-design.projects-btn {
	text-decoration: underline;
}

.projects-background.background-image {
	/* FORCE A BACKGROUND IMAGE FOR ALL PROJECT BANNERS */
}

/* MEMBERS API STYLES */
.slider.container {
	background-color: inherit;
	width: 100%;
	margin: 0 auto;
	padding: 4rem 0;
}

.slider.inside {
	max-width: 1200px;
}

.slider {
	margin: 0 auto;
}

.slider img {
	width: 75px !important;
	height: 75px !important;
	cursor: pointer;
}

.slider.link {
	text-align: center;
	padding-top: 15px;
}

.slick-slide {
	background: #fff;
	border-radius: 10px;
	border: 1px solid #A1A1A4;
	margin-bottom: 15px;
	margin-right: 15px;
	padding: 15px;
	align-items: center !important;
	display: flex !important;
	object-fit: contain !important;
	text-align: center;
	justify-content: center;
}

.slick-track {
	left: -550px !important;
	position: relative !important;
}


/* FONT AWESOME ICON FIXES FOR PROJECTS */

i.fa-solid.fa-calendar-days:before {
	content: "\f073";
}


i.fa-solid.fa-file-pdf:before {
	content: "\f1c1" !important;
}