/* PROJECTS TEMPLATE */

.projects-wrap {
	padding: 0;
}

.projects-background {
	background-position: center center;
	background-repeat: no-repeat;
}

.projects-heading {
	padding: 75px 0;
}

.projects-title {
	margin: 0;
	float: none;
}

.projects-title-text.white {
	font-size: 34px;
	color: #ffffff;
	margin-top: 35px;
}

.projects-post-area {
	margin: 30px 0;
}

.projects-post-area section {
	margin: 35px 0;
}

.projects-post-area.col {
	margin: 0;
}

.projects-links {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 75px 0;
	position: relative;
}

.projects-links a {
	color: #ffffff !important;
	margin: 0 20px;
}

.projects-links a i {
	font-size: 50px !important;
	border: 5px solid #fff;
	padding: 30px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	width: 100px;
	height: 100px;
}

.projects-link-item {
	flex-direction: row;
	display: flex;
	justify-content: center;
	align-items: center;
}

.projects-link-wrap {
	margin: 0 15px;
}

.projects-link-wrap p {
	color: #ffffff;
	position: relative;
	font-size: 1rem;
	line-height: 0;
	margin-top: 0;
}

.projects-title img {
	max-height: 200px;
}

.projects-description {
	padding: 38px 0 35px 0;
}