/* PROJECTS */

.projects-wrap {
	padding: 0;
}

.projects-background {
	background-position: center center;
	background-repeat: no-repeat;
}

.projects-heading {
	padding: 75px 0;
}

.projects-title {
	margin: 0;
	float: none;
}

.col.span_12.section-title.projects-title {
	display: flex;
	align-items: center;
	justify-content: center;
}

.col.span_12.section-title.projects-title img {
	max-height: 200px;
	max-width: 500px;
	object-fit: contain;
}

h1.projects-title-text.white {
	font-size: 38px;
	line-height: 46px;
	margin-left: 30px;
}

.projects-excerpt-text.white {
	font-size: 34px;
	line-height: 42px;
	color: #ffffff;
	margin-top: 35px;
}

.projects-middle {
	padding: 40px 0 35px 0;
}

.projects-middle svg.grid-svg {
	width: 200px !important;
	margin: 35px 0 0 -55px;
}

.projects-middle .grid-design.title {
	display: block;
	font-weight: 400;
	font-size: 21px;
	line-height: 28px;
}

.projects-middle p.grid-design.date {
	margin: 35px 0 0 0;
}


.projects-middle .projects-small-title {
	font-size: 14px;
	line-height: 18px;
	color: #0033A1;
	padding-bottom: 15px;
	display: inline-block;
}

.projects-middle .projects-small-title.absolute {
	position: absolute;
	top: 5px;
	margin-left: 12px;
	padding-left: 35px;
}

.projects-post-area {
	margin: 30px 0 30px 0;
}

.projects-post-area.col {
	margin-bottom: 0;
}

.projects-post-area section {
	margin: 35px 0;
}

.projects-links {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: start;
	padding: 35px 0;
	position: relative;
	margin-bottom: 0 !important;
}

.projects-links a {
	color: #ffffff !important;
}

.projects-links a i {
	font-size: 4rem !important;
	border: 5px solid #fff;
	padding: 50px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	width: 100px;
	height: 100px
}

.projects-icons {
	margin: 0 15px;
}

.projects-links p {
	font-weight: 700;
	font-size: 14px;
	line-height: 18px;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	color: #FFFFFF;
	margin-top: 15px;
	max-width: 200px;
}

.projects-link-item {
	flex-direction: row;
	display: flex;
	justify-content: center;
	align-items: center;
}

.projects-link-wrap {
	margin: 0 15px;
}

.projects-link-wrap p {
	color: #ffffff;
	position: relative;
	font-size: 1rem;
	line-height: 0;
	margin-top: 0;
}

.projects-title img {
	max-height: 300px;
	max-width: 300px;
	margin: 0 auto;
	object-fit: contain;
}

.projects-excerpt-container {
	margin-left: 50px;
}

.projects-description-title {
	font-size: 34px !important;
	line-height: 40px !important;
	margin-bottom: 15px;
}

.row.no-padding {
	padding-bottom: 0;
}

.ui-tabs-nav {
	text-align: center;
	margin-bottom: 70px !important;
}

.tabbed ul li {
	display: inline-block;
	float: none;
}

.tabbed ul li a {
	padding: 20px 40px;
	font-size: 19px;
	/* font-family: Bitter; */
	font-weight: 700;
	color: #000000;
	background-color: #d0cfcf;
	border: 1px solid #ffffff !important;
	color: #ffffff !important;
}

.tabbed ul li a:hover {}

.tabbed ul li:first-child a {
	border-radius: 10px 0px 0px 10px;
}

.tabbed ul li:last-child a {
	border-radius: 0px 10px 10px 0px;
}


.projects-background.background-image {
	/* FORCE A BACKGROUND IMAGE FOR ALL PROJECT BANNERS */
}

.top-information-wrapper {
	height: 65px;
	z-index: 9999;
}

.top-information {
	display: flex;
	padding: 15px 35px;
	align-items: center;
}

.top-information .projects-icon-name {
	font-size: 12px;
	padding-bottom: 0;
	color: #666666;
	line-height: 18px;
}

.top-information a {
	font-weight: 700;
	font-size: 19px;
	line-height: 28px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #C9C9C9;
}

.top-information-middle {
	display: flex;
	align-items: center;
	justify-content: center;
}

.top-information-middle .projects-icon {
	font-size: 24px;
}

.top-information-middle .projects-icons {
	margin: 0 25px;
	text-align: center;
}

.top-information-right {
	text-align: right;
}

.projects-logo.wrapper {
	padding-top: 70px;
	margin: 0 auto;
	text-align: center;
}

.projects-logo.wrapper img {
	max-width: 75%;
}

.projects-bottom-navigation a,
.single-blog-bottom-navigation a {
	margin-right: 15px;
	border-radius: 30px;
	padding: 8px 44px;
	font-size: 17px;
	line-height: 28px;
	text-transform: uppercase;
	margin-top: auto;
}

.projects-bottom-navigation,
.single-blog-bottom-navigation {
	text-align: center;
	margin-bottom: 35px;
}


/* WEBINARS */

.webinars-description,
.webinars-speakers {
	padding-top: 30px;
}


/* FONT AWESOME ICON FIXES FOR PROJECTS */

i.fa-solid.fa-calendar-days:before {
	content: "\f073";
}


i.fa-solid.fa-file-pdf:before {
	content: "\f1c1" !important;
}


/* MOBILE */

@media screen and (max-width: 600px) {
	.top-information {
		flex-direction: column;
		text-align: center;
	}

	.top-information-right {
		text-align: center;
	}

	.projects-logo.wrapper img {
		max-width: 100%;
	}

	.projects-bottom-navigation a,
	.single-blog-bottom-navigation a {
		margin-bottom: 15px !important;
		display: inline-block;
	}

	.col.span_12.section-title.projects-title {
		flex-direction: column;
	}

	.col.span_12.section-title.projects-title img {
		min-width: 150px;
		width: 100%;
	}

	.projects-excerpt-container {
		margin-left: 0;
	}

	.projects-excerpt-text.white {
		font-size: 26px;
		line-height: 34px;
	}

	.projects-links {
		flex-direction: column;
		align-items: center;
	}

	.projects-icons {
		margin: 20px 0;
	}
}