/* LIST VIEW DESIGN */

.list-design.outer {
	width: 100%;
}

.list-design.flex {
	display: flex;
	padding: 30px 0;
}

.list-design.flex div {
	display: flex;
}

.list-design.left {
	flex-basis: 33.33%;
	flex-direction: column;
	border: 1px solid #f4f4f4;
	margin-right: 2.5rem;
	align-items: center;
	justify-content: center;
}

.list-design.left img {
	width: 100% !important;
	max-width: 250px !important;
	max-height: 150px;
	margin: 0 !important;
}

.list-design.right {
	flex-basis: 66.66%;
	flex-direction: column;
}

.list-design.full-width {
	flex-basis: 100%;
	flex-direction: column;
}

.list-design.title {
	font-size: 1rem;
	line-height: 1rem;
	margin: 0 !important;
	padding: 0 0 10px 0 !important;
}

.list-design.title a {
	font-size: 1rem;
	line-height: 1rem;
	font-weight: 700;
}

.list-design.title .external-site:after {
	/* content: "\f35d"; */
	content: "\f08e";
	font-family: "FontAwesome";
	margin-left: 5px;
	font-size: 0.75rem;
}

.list-design.date {
	font-size: 1rem;
	line-height: 1.25rem;
	padding: 0 0 10px 0;
	margin: 0 !important;
}

.list-design.author {
	padding-bottom: 0 !important;
}

.list-design.date:before {
	content: "\f073";
	font-family: "FontAwesome";
	margin: 0 10px 0 0;
}

.list-design.excerpt {
	font-size: 14px;
	line-height: 20px;
}

a.list-design.navigation-btn {
	display: inline-block;
	border: 1px solid;
	padding: 5px 10px;
	margin-bottom: 15px;
}

.list-design.navigation-btn:after {
	font-family: "FontAwesome";
	content: "\f178";
	margin-left: 5px;
}

/* GRID DESIGN */
.grid-design.outer {
	display: flex;
}

.grid-design.outer {
	min-height: 100px;
	/* align-items: center; */
	/* justify-content: center; */
}

.grid-design .inner {
	flex-grow: 1;
    flex-basis: 0;
	margin: 0 10px;
}

.grid-design.title {
	display: block;
}

.grid-design.outer .col {
	margin-bottom: 2%;
}

.grid-design.outer img {
	width: 100%;
	object-fit: contain;
}

.grid-design.navigation-btn a {
	color: #ffffff;
	padding: 0 35px;
	border-radius: 30px;
	margin-top: 10px !important;
	display: inline-block;
}

.grid-design.navigation-btn a:after {
	/* content: "\f35d";
  content: "\f08e";
  font-family: "FontAwesome";
  color: #ffffff;
  margin-left: 10px; */
}

/*
.grid-design .projects-btn {
	color: #ffffff;
	font-size: 1rem;
	line-height: 1rem;
	padding: 10px;
	border-radius: 5px;
	transform: translateX(0);
	transition: opacity .45s cubic-bezier(.25, 1, .33, 1), transform .45s cubic-bezier(.25, 1, .33, 1);
}

.grid-design .projects-btn:hover {
	color: #ffffff;
	opacity: .85;
}
*/

/* PAGINATION */

.design-pagination {
	text-align: center;
	font-size: 1rem;
}

.design-pagination .page-numbers {
	margin-right: 5px;
	color: inherit;
}

.page-numbers span {
	color: #ffffff;
	padding: 10px;
}

@media only screen and (max-width: 600px) {
	.list-design.right {
		flex-basis: 100%;
	}
}


.embedded-code iframe {
	width: 100% !important;
	height: 200px !important;
}





/* PROJECTS */

.ui-tabs-nav {
	text-align: center;
	margin-bottom: 70px !important;
}

.tabbed ul li {
	display: inline-block;
	float: none;
}

.tabbed ul li a {
	padding: 20px 40px;
	font-size: 19px;
	/* font-family: Bitter; */
	font-weight: 700;
	color: #000000;
	background-color: #d0cfcf;
	border: 1px solid #ffffff !important;
	color: #ffffff !important;
}

.tabbed ul li a:hover {
}

.tabbed ul li:first-child a {
	border-radius: 10px 0px 0px 10px;
}

.tabbed ul li:last-child a {
	border-radius: 0px 10px 10px 0px;
}
.grid-design.image-wrapper {
	margin: 0 auto;
	text-align: center;
	height: 100px;
	margin-bottom: 15px;
}

.grid-design.image-wrapper img {
	max-height: 100px;
	margin-bottom: 0;
}
.grid-design .projects {
	box-shadow: 0px 0px 15px rgb(0 0 0 / 15%);
	border-radius: 10px;
	padding: 30px;
	margin: 15px;
}

.grid-design .projects p {
	padding: 0 0 10px 0;
	font-size: 18px;
	line-height: 28px;
	font-weight: 600;
}

.grid-design.projects-btn:after {
	content: " >>";
}

.grid-design.projects-btn {
	text-decoration: underline;
}

.projects-background.background-image {
	/* FORCE A BACKGROUND IMAGE FOR ALL PROJECT BANNERS */
}
